<!DOCTYPE html>
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>ElectroEdge</title>
  <link href="{% static 'assets/electro_logo.png' %}" rel="shortcut icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.9.6/tailwind.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/2.7.3/alpine.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="zoom: 90%;">
  <div class="flex bg-gray-300 h-screen" x-data="{ isSidebarExpanded: true }" style="height: 800px;">
    <aside class="flex flex-col text-gray-300 bg-gray-800 transition-all duration-300 ease-in-out" :class="isSidebarExpanded ? 'w-64' : 'w-20'">
      <a style="text-decoration: none;" href="/admin_panel/" class="h-20 flex items-center px-4 bg-gray-900 hover:text-gray-100 hover:bg-opacity-50 focus:outline-none focus:text-gray-100 focus:bg-opacity-50 overflow-hidden">
        <svg viewBox="0 0 20 20" fill="currentColor" class="h-12 w-12 flex-shrink-0">
          <path d="M10.394 2.08a1 1 0 00-.788 0l-7 3a1 1 0 000 1.84L5.25 8.051a.999.999 0 01.356-.257l4-1.714a1 1 0 11.788 1.838L7.667 9.088l1.94.831a1 1 0 00.787 0l7-3a1 1 0 000-1.838l-7-3zM3.31 9.397L5 10.12v4.102a8.969 8.969 0 00-1.05-.174 1 1 0 01-.89-.89 11.115 11.115 0 01.25-3.762zM9.3 16.573A9.026 9.026 0 007 14.935v-3.957l1.818.78a3 3 0 002.364 0l5.508-2.361a11.026 11.026 0 01.25 3.762 1 1 0 01-.89.89 8.968 8.968 0 00-5.35 2.524 1 1 0 01-1.4 0zM6 18a1 1 0 001-1v-2.065a8.935 8.935 0 00-2-.712V17a1 1 0 001 1z" />
        </svg>
        <span class="ml-2 text-xl font-medium duration-300 ease-in-out" :class="isSidebarExpanded ? 'opacity-100' : 'opacity-0'"  style="color: white;">ElectroEdge</span>
      </a>
      <nav class="p-4 space-y-2 font-medium">

        <a style="text-decoration: none;" href="/" class="flex items-center h-10 px-3 text-white bg-blue-600 rounded-lg transition-colors duration-150 ease-in-out focus:outline-none focus:shadow-outline">
          <i class="fa fa-home" style="color: white;font-size:28px"></i>
          <span class="ml-2 duration-300 ease-in-out" :class="isSidebarExpanded ? 'opacity-100' : 'opacity-0'" style="color: white;">Home</span>
        </a>
        <a style="text-decoration: none;" href="/users/" class="flex items-center h-10 px-3 hover:bg-blue-600 hover:bg-opacity-25 rounded-lg transition-colors duration-150 ease-in-out focus:outline-none focus:shadow-outline">
          <i class="fa fa-id-card" style="color: white;"></i>
          <span class="ml-2 duration-300 ease-in-out" :class="isSidebarExpanded ? 'opacity-100' : 'opacity-0'" style="color: white;">Users</span>
        </a>

        <a style="text-decoration: none;" href="/categoryindex/" class="flex items-center h-10 px-3 hover:bg-blue-600 hover:bg-opacity-25 rounded-lg transition-colors duration-150 ease-in-out focus:outline-none focus:shadow-outline">
          <i class="fa fa-file-text"  style="color: white;"></i>
          <span class="ml-2 duration-300 ease-in-out" :class="isSidebarExpanded ? 'opacity-100' : 'opacity-0'" style="color: white;">Category</span>
        </a>
        <a style="text-decoration: none;" href="/productindex/" class="flex items-center h-10 px-3 hover:bg-blue-600 hover:bg-opacity-25 rounded-lg transition-colors duration-150 ease-in-out focus:outline-none focus:shadow-outline">
          <i class="fa fa-info-circle"  style="color: white;"></i>
          <span class="ml-2 duration-300 ease-in-out" :class="isSidebarExpanded ? 'opacity-100' : 'opacity-0'" style="color: white;">Products</span>
        </a>

        <a style="text-decoration: none;" href="/order_report/" class="flex items-center h-10 px-3 hover:bg-blue-600 hover:bg-opacity-25 rounded-lg transition-colors duration-150 ease-in-out focus:outline-none focus:shadow-outline">
          <i class="fa fa-file-pdf-o"  style="color: white;"></i>
          <span class="ml-2 duration-300 ease-in-out" :class="isSidebarExpanded ? 'opacity-100' : 'opacity-0'" style="color: white;">Order History</span>
        </a>

      </nav>

    </aside>
    <div class="flex-1 flex flex-col">
      <header class="h-20 flex items-center px-6" style="background-color: #2874f0;">
        <button class="p-2 -ml-2 mr-2" @click="isSidebarExpanded = !isSidebarExpanded" style="color: aliceblue;">
          <svg viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="h-6 w-6 transform" :class="isSidebarExpanded ? 'rotate-180' : 'rotate-0'">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <line x1="4" y1="6" x2="14" y2="6" />
            <line x1="4" y1="18" x2="14" y2="18" />
            <path d="M4 12h17l-3 -3m0 6l3 -3" />
          </svg>
        </button>
      </header>
      <main class="flex-1 p-6">
        <div class="row" style="zoom: 90%;">
          <div class="col-md-4">
            <a href="/users/" style="text-decoration: none;color: black;">
            <div class="card" style="box-shadow: 10px 10px 10px rgba(0,0,0,0.5);">
              <div class="card-header" style="color: white;font-size: 20px;background-color: #3182ce;">Total Users</div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <h1 style="font-weight: bold;">{{ user_count }}</h1>
                  </div>
                  <div class="col-md-8 text-right">
                    <i class="fa fa-user" aria-hidden="true" style="font-size: 60px;"></i>
                  </div>
                </div>
                 
              </div>
              
            </div>
          </a>
          </div>
          <div class="col-md-4">
            <a href="/productindex/" style="text-decoration: none;color: black;">
            <div class="card" style="box-shadow: 10px 10px 10px rgba(0,0,0,0.5);">
              <div class="card-header bg-success" style="color: white;font-size: 20px;">Total Products</div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <h1 style="font-weight: bold;">{{ product_count }}</h1>
                  </div>
                  <div class="col-md-8 text-right">
                    <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 60px;"></i>
                  </div>
                </div>
              </div>

            </div>
            </a>
          </div>
          <div class="col-md-4">
            <a href="/categoryindex/" style="text-decoration: none;color: black;">

            <div class="card" style="box-shadow: 10px 10px 10px rgba(0,0,0,0.5);">
              <div class="card-header bg-danger" style="color: white;font-size: 20px;">Available  Categories</div>

              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <h1 style="font-weight: bold;">{{ order_count }}</h1>
                  </div>
                  <div class="col-md-8 text-right">
                    <i class="fa fa-file-text" aria-hidden="true" style="font-size: 60px;"></i>
                  </div>
                </div>
              </div>

            </div>
            </a>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header" style="color: black;font-size: 20px;text-align: center;">
                Datewise Order Details
              </div>
              <div class="card-body" style="zoom: 88%;">
                <img src="data:image/png;base64,{{ chart }}" alt="Bar Chart"/>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header" style="color: black;font-size: 20px;text-align: center;">
                Datewise Order Amount Details
              </div>
              <div class="card-body" style="zoom: 88%;">
                <img src="data:image/png;base64,{{ chart1 }}" alt="Bar Chart"/>
              </div>
            </div>
          </div>
        </div>
        
      </main>
    </div>
  </div>
  
</body>
</html>