
{% extends 'master.html' %}
{% block content %}


<section style="zoom:88%">
  <div class="card">
    <div class="card-header">
      <div class="row">
        <div class="col-md-12"> 
          <h4 style="color: black;vertical-align: middle;">Datewise Order Report ({{ date }})</h4>
        </div>
    </div>
    </div>
    <div class="card-body" style="box-shadow: 10px 10px 10px rgba(0,0,0,0.5);zoom:90%">

      <table class="table table-bordered table-striped" style="width:100%;">
        <thead style="background-color: rgb(2, 11, 43); color: aliceblue;">
          <tr>
            <th style="text-align:center">SL No.</th>
            <th style="text-align:center">Order ID</th>
            <th style="text-align:center">Quantity</th>
            <th style="text-align:center">Amount</th>
            <th style="text-align:center">Created By</th>
            <th style="text-align:center">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for x in data %}
          <tr>
            <td style="text-align:center;font-weight: bold;font-size:17px">{{ forloop.counter }}</td>
            <td style="text-align:center;font-weight: bold;font-size:17px">{{ x.order_id }}</td>
            <td style="text-align:center;font-weight: bold;font-size:17px">{{ x.count }}</td>
            <td style="text-align:center;font-weight: bold;font-size:17px">{{ x.amount }}</td>
            <td style="text-align:center;font-weight: bold;font-size:19px">{{ x.created_by }}</td>
            <td style="text-align:center;font-weight: bold;font-size:19px">
                <a class="btn btn-info btn-sm"  role="button" data-toggle="modal" data-target="#showmodal{{ x.id }}" style="color:white"><i class="fa fa-eye"></i></a>
                <div class="modal fade" id="showmodal{{ x.id }}" tabindex="-1" role="dialog" aria-labelledby="editmodalLabel" aria-hidden="true"  style="margin-top: -30px; margin-left: 1300px;">            
                    <div class="modal-dialog modal-dialog-slideout modal-md" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                          <div class="row">
                              <div class="col-md-6">
                                  <h4 class="modal-title" id="editmodalLabel">Puchased Products</h4>
                              </div>
                              <div class="col-md-6 text-right">
                                  <button type="submit" class="btn btn-danger btn-sm" data-dismiss="modal">X</button>
                              </div>
                          </div>
                      
                      </div>
                      <div class="modal-body">
              
                          <div class="card-body">
                            <table class="table table-bordered table-striped" style="width:100%;">
                                <thead style="background-color: rgb(2, 11, 43); color: aliceblue;">
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in x.order_data %}
                                    <tr>
                                        <td>{{ i.name }}</td>
                                        <td>{{ i.count }}</td>
                                        <td>{{ i.price }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

          
                            </div>
                            </div>
                          
                      </div>
                    </div>
                  </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
  </div>



  

</div>
</div>

<script>
    function validateAIFileType() {
       var selectedFile = document.getElementById('ai_fileInput').files[0];
       var allowedTypes = ['image/jpeg', 'image/png', 'image/jpg'];

       
       if (!allowedTypes.includes(selectedFile.type)) {
          
          swal({
            title: `'Invalid file type!!`,
            text: "Please upload a JPEG, PNG file.",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        });
          document.getElementById('ai_fileInput').value = '';
       }
    }
 </script>


{% for message in messages %}

{% if 'success' == message.tags %}
        <script type="text/javascript">
          // Default Configuration
              $(document).ready(function() {
                  toastr.options = {
                      'closeButton': true,
                      'debug': false,
                      'newestOnTop': false,
                      'progressBar': true,
                      'positionClass': 'toast-top-right',
                      'preventDuplicates': false,
                      'showDuration': '1000',
                      'hideDuration': '1000',
                      'timeOut': '3000',
                      'extendedTimeOut': '1000',
                      'showEasing': 'swing',
                      'hideEasing': 'linear',
                      'showMethod': 'fadeIn',
                      'hideMethod': 'fadeOut',
                  }
              });
      
          // Toast Type
           
                  toastr.success('Data Submitted Successfully');
             
          // Toast Image and Progress Bar
              $('#image').click(function(event) {
                  toastr.options.progressBar = true,
                  toastr.info('<img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:150px;">', 'Toast Image')
              });
      
      
          // Toast Position
              $('#position').click(function(event) {
                  var pos = $('input[name=position]:checked', '#positionForm').val();
                  toastr.options.positionClass = "toast-" + pos;
                  toastr.options.preventDuplicates = false;
                  toastr.info('This sample position', 'Toast Position')
              });
          </script>

        {% elif 'error' == message.tags %}
        <script type="text/javascript">
          // Default Configuration
              $(document).ready(function() {
                  toastr.options = {
                      'closeButton': true,
                      'debug': false,
                      'newestOnTop': false,
                      'progressBar': false,
                      'positionClass': 'toast-top-right',
                      'preventDuplicates': false,
                      'showDuration': '1000',
                      'hideDuration': '1000',
                      'timeOut': '5000',
                      'extendedTimeOut': '1000',
                      'showEasing': 'swing',
                      'hideEasing': 'linear',
                      'showMethod': 'fadeIn',
                      'hideMethod': 'fadeOut',
                  }
              });
      
          // Toast Type
           
                  toastr.error('Data Deleted Successfully');
             
          // Toast Image and Progress Bar
              $('#image').click(function(event) {
                  toastr.options.progressBar = true,
                  toastr.info('<img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:150px;">', 'Toast Image')
              });
      
      
          // Toast Position
              $('#position').click(function(event) {
                  var pos = $('input[name=position]:checked', '#positionForm').val();
                  toastr.options.positionClass = "toast-" + pos;
                  toastr.options.preventDuplicates = false;
                  toastr.info('This sample position', 'Toast Position')
              });
          </script>
          
         {% elif 'info' == message.tags %}

        <script type="text/javascript">
          // Default Configuration
              $(document).ready(function() {
                  toastr.options = {
                      'closeButton': true,
                      'debug': false,
                      'newestOnTop': false,
                      'progressBar': false,
                      'positionClass': 'toast-top-right',
                      'preventDuplicates': false,
                      'showDuration': '1000',
                      'hideDuration': '1000',
                      'timeOut': '5000',
                      'extendedTimeOut': '1000',
                      'showEasing': 'swing',
                      'hideEasing': 'linear',
                      'showMethod': 'fadeIn',
                      'hideMethod': 'fadeOut',
                  }
              });
      
          // Toast Type
           
                  toastr.info('Data Updated Successfully');
             
          // Toast Image and Progress Bar
              $('#image').click(function(event) {
                  toastr.options.progressBar = true,
                  toastr.info('<img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:150px;">', 'Toast Image')
              });
      
      
          // Toast Position
              $('#position').click(function(event) {
                  var pos = $('input[name=position]:checked', '#positionForm').val();
                  toastr.options.positionClass = "toast-" + pos;
                  toastr.options.preventDuplicates = false;
                  toastr.info('This sample position', 'Toast Position')
              });
          </script>

          {% elif 'warning' == message.tags %}
          <script type="text/javascript">
            // Default Configuration
                $(document).ready(function() {
                    toastr.options = {
                        'closeButton': true,
                        'debug': false,
                        'newestOnTop': false,
                        'progressBar': false,
                        'positionClass': 'toast-top-right',
                        'preventDuplicates': false,
                        'showDuration': '1000',
                        'hideDuration': '1000',
                        'timeOut': '5000',
                        'extendedTimeOut': '1000',
                        'showEasing': 'swing',
                        'hideEasing': 'linear',
                        'showMethod': 'fadeIn',
                        'hideMethod': 'fadeOut',
                    }
                });
        
            // Toast Type
             
                    toastr.error('Entered Data Already Exists');
               
            // Toast Image and Progress Bar
                $('#image').click(function(event) {
                    toastr.options.progressBar = true,
                    toastr.info('<img src="https://image.flaticon.com/icons/svg/34/34579.svg" style="width:150px;">', 'Toast Image')
                });
        
        
            // Toast Position
                $('#position').click(function(event) {
                    var pos = $('input[name=position]:centerhecked', '#positionForm').val();
                    toastr.options.positionClass = "toast-" + pos;
                    toastr.options.preventDuplicates = false;
                    toastr.info('This sample position', 'Toast Position')
                });
            </script>
        {% else %}

        {% endif %}
  
        {% endfor %}


        <script>


          function submitForm(form) {
            var degree = document.getElementById("degree").value;
                      
            
              swal({
                  title: "Are you sure Want To Submit?",
                  text:  "Degree:"+ ' '+ degree+'\n',        
                  icon: "warning",
                  dangerMode: true,
                  
                  buttons: ["Cancel", "Submit"], 
        
              })
              .then(function (isOkay) {
                  if (isOkay) {
                      form.submit();
                  }
              });
              return false;
          }
        </script>



        <script>


          function submitForm1(form) {
            
              swal({
                  title: "Are you sure Want To Submit?",
                  text:  "Please Verify Your Data, Before Final Submission",
        
                  icon: "warning",
                  dangerMode: true,
                  
                  buttons: ["Cancel", "Submit"], 
        
              })
              .then(function (isOkay) {
                  if (isOkay) {
                      form.submit();
                  }
              });
              return false;
          }
        </script>
</section>
  {% endblock %}